
body {
    margin:0;
    font-family:Arial, sans-serif;
    background:#000;
    color:#fff;
}
header {
    text-align:center;
    padding:20px;
    font-size:28px;
    font-weight:bold;
    color:#FFD700;
}
.hero {
    text-align:center;
    padding:80px 20px;
}
.btn {
    background:#FFD700;
    color:#000;
    padding:12px 20px;
    margin:10px;
    border-radius:6px;
    text-decoration:none;
    font-weight:bold;
}
.section {
    padding:50px 20px;
    text-align:center;
}
input {
    padding:10px;
    margin:10px;
    width:250px;
}
