body{font-family:Arial;background:black;color:white;text-align:center;margin:0}
header{background:#111;padding:15px;border-bottom:1px solid gold}
.logo{width:70px}
nav a{color:gold;margin:10px;text-decoration:none}
.hero{padding:40px}
.services{display:flex;flex-wrap:wrap;justify-content:center}
.card{border:1px solid gold;margin:10px;padding:20px;width:200px}
input,button{padding:10px;margin:5px}
